.pemesanan {
    display: block;
    position: relative;
    font-size: 2rem;
    color: white;
}

#pemesanan-menu1:checked+label,
#pemesanan-menu2:checked+label,
#pemesanan-menu3:checked+label,
#pemesanan-menu4:checked+label,
#pemesanan-menu5:checked+label {
    color: red;
}

.pemesanan-harga>* {
    display: none;
}

#pemesanan-menu1:checked~.pemesanan-harga .pemesanan-harga-1,
#pemesanan-menu2:checked~.pemesanan-harga .pemesanan-harga-2,
#pemesanan-menu3:checked~.pemesanan-harga .pemesanan-harga-3,
#pemesanan-menu4:checked~.pemesanan-harga .pemesanan-harga-4,
#pemesanan-menu5:checked~.pemesanan-harga .pemesanan-harga-5 {
    display: block;
}

.pemesanan-harga p {
    color: rgb(214, 78, 4);
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #fff;
    border-width: 0;
    width: 10rem;
}

.pemesanan-viewport-kanan {
    position: absolute;
    top: 3rem;
    left: 60rem;
    width: 40rem;
    height: 40rem;
}

.pemesanan-gambar {
    width: 50rem;
    height: 30rem;
    background-color: white;
    border-color: white;
    border-radius: 1rem;
    border-width: 1rem;
    border-style: solid;
}

#pemesanan-menu1:checked~.pemesanan-viewport-kanan .pemesanan-gambar {
    background: url("img/img-1.jpg") no-repeat;
    background-size: 100% 100%;
}

#pemesanan-menu2:checked~.pemesanan-viewport-kanan .pemesanan-gambar {
    background: url("img/img-2.jpg") no-repeat;
    background-size: 100% 100%;
}

#pemesanan-menu3:checked~.pemesanan-viewport-kanan .pemesanan-gambar {
    background: url("img/img-3.jpg") no-repeat;
    background-size: 100% 100%;
}

#pemesanan-menu4:checked~.pemesanan-viewport-kanan .pemesanan-gambar {
    background: url("img/img-4.jpg") no-repeat;
    background-size: 100% 100%;
}

#pemesanan-menu5:checked~.pemesanan-viewport-kanan .pemesanan-gambar {
    background: url("img/img-5.jpg") no-repeat;
    background-size: 100% 100%;
}